<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sobre DAW'S</title>
<!-- STYLE CSS -->
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body{
            padding: 12px;
        }

        .container-geral{
            width: 100vw;
            height: 100vh;
            background-color: {{cor_de_fundo_html}};
        }

        
    </style>
</head>
<header>
    <span>como</span>
    <span>sobre</span>
    <span>novidades</span>
    <button>LOGIN</button>
</header>
<body>
    <div class="container-geral">
        <img src="/static/img/imagem_daw.webp" alt="imagem DAW">
        <h1>Curiosidades sobre as DAW'S</h1>
        <p>
            <strong>O que é uma DAW e sua importância na música:</strong>

            Uma DAW (Digital Audio Workstation) é um software utilizado para criar, editar, gravar, mixar e produzir música digitalmente. Ela é uma ferramenta essencial para músicos, produtores e engenheiros de som, oferecendo um ambiente completo para a produção musical. Com uma DAW, é possível manipular áudios, inserir instrumentos virtuais, ajustar efeitos e criar composições de maneira intuitiva e acessível.
        </p>
    </div>
</body>
</html>